<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BallerSoft</title>
</head>
<body>
    <h1>BallerSoft</h1>
    <form method="POST">
        <label for="first_team">Choose a first team:</label>
        <select name="first_team">
            <option value="Atlanta Hawks" {% if first_team == "Atlanta Hawks" %}selected{% endif %}>Atlanta Hawks</option>
            <option value="Boston Celtics" {% if first_team == "Boston Celtics" %}selected{% endif %}>Boston Celtics</option>
            <option value="Brooklyn Nets" {% if first_team == "Brooklyn Nets" %}selected{% endif %}>Brooklyn Nets</option>
            <option value="Charlotte Bobcats" {% if first_team == "Charlotte Bobcats" %}selected{% endif %}>Charlotte Bobcats</option>
            <option value="Charlotte Hornets" {% if first_team == "Charlotte Hornets" %}selected{% endif %}>Charlotte Hornets</option>
            <option value="Chicago Bulls" {% if first_team == "Chicago Bulls" %}selected{% endif %}>Chicago Bulls</option>
            <option value="Cleveland Cavaliers" {% if first_team == "Cleveland Cavaliers" %}selected{% endif %}>Cleveland Cavaliers</option>
            <option value="Dallas Mavericks" {% if first_team == "Dallas Mavericks" %}selected{% endif %}>Dallas Mavericks</option>
            <option value="Denver Nuggets" {% if first_team == "Denver Nuggets" %}selected{% endif %}>Denver Nuggets</option>
            <option value="Detroit Pistons" {% if first_team == "Detroit Pistons" %}selected{% endif %}>Detroit Pistons</option>
            <option value="Golden State Warriors" {% if first_team == "Golden State Warriors" %}selected{% endif %}>Golden State Warriors</option>
            <option value="Houston Rockets" {% if first_team == "Houston Rockets" %}selected{% endif %}>Houston Rockets</option>
            <option value="Indiana Pacers" {% if first_team == "Indiana Pacers" %}selected{% endif %}>Indiana Pacers</option>
            <option value="LA Clippers" {% if first_team == "LA Clippers" %}selected{% endif %}>LA Clippers</option>
            <option value="Los Angeles Lakers" {% if first_team == "Los Angeles Lakers" %}selected{% endif %}>Los Angeles Lakers</option>
            <option value="Memphis Grizzlies" {% if first_team == "Memphis Grizzlies" %}selected{% endif %}>Memphis Grizzlies</option>
            <option value="Miami Heat" {% if first_team == "Miami Heat" %}selected{% endif %}>Miami Heat</option>
            <option value="Milwaukee Bucks" {% if first_team == "Milwaukee Bucks" %}selected{% endif %}>Milwaukee Bucks</option>
            <option value="Minnesota Timberwolves" {% if first_team == "Minnesota Timberwolves" %}selected{% endif %}>Minnesota Timberwolves</option>
            <option value="New Orleans Pelicans" {% if first_team == "New Orleans Pelicans" %}selected{% endif %}>New Orleans Pelicans</option>
            <option value="New York Knicks" {% if first_team == "New York Knicks" %}selected{% endif %}>New York Knicks</option>
            <option value="Oklahoma City Thunder" {% if first_team == "Oklahoma City Thunder" %}selected{% endif %}>Oklahoma City Thunder</option>
            <option value="Orlando Magic" {% if first_team == "Orlando Magic" %}selected{% endif %}>Orlando Magic</option>
            <option value="Philadelphia 76ers" {% if first_team == "Philadelphia 76ers" %}selected{% endif %}>Philadelphia 76ers</option>
            <option value="Phoenix Suns" {% if first_team == "Phoenix Suns" %}selected{% endif %}>Phoenix Suns</option>
            <option value="Portland Trail Blazers" {% if first_team == "Portland Trail Blazers" %}selected{% endif %}>Portland Trail Blazers</option>
            <option value="Sacramento Kings" {% if first_team == "Sacramento Kings" %}selected{% endif %}>Sacramento Kings</option>
            <option value="San Antonio Spurs" {% if first_team == "San Antonio Spurs" %}selected{% endif %}>San Antonio Spurs</option>
            <option value="Toronto Raptors" {% if first_team == "Toronto Raptors" %}selected{% endif %}>Toronto Raptors</option>
            <option value="Utah Jazz" {% if first_team == "Utah Jazz" %}selected{% endif %}>Utah Jazz</option>
            <option value="Washington Wizards" {% if first_team == "Washington Wizards" %}selected{% endif %}>Washington Wizards</option>
        </select>

        <label for="second_team">Choose a second team:</label>
        <select name="second_team">
            <option value="Atlanta Hawks" {% if second_team == "Atlanta Hawks" %}selected{% endif %}>Atlanta Hawks</option>
            <option value="Boston Celtics" {% if second_team == "Boston Celtics" %}selected{% endif %}>Boston Celtics</option>
            <option value="Brooklyn Nets" {% if second_team == "Brooklyn Nets" %}selected{% endif %}>Brooklyn Nets</option>
            <option value="Charlotte Bobcats" {% if second_team == "Charlotte Bobcats" %}selected{% endif %}>Charlotte Bobcats</option>
            <option value="Charlotte Hornets" {% if second_team == "Charlotte Hornets" %}selected{% endif %}>Charlotte Hornets</option>
            <option value="Chicago Bulls" {% if second_team == "Chicago Bulls" %}selected{% endif %}>Chicago Bulls</option>
            <option value="Cleveland Cavaliers" {% if second_team == "Cleveland Cavaliers" %}selected{% endif %}>Cleveland Cavaliers</option>
            <option value="Dallas Mavericks" {% if second_team == "Dallas Mavericks" %}selected{% endif %}>Dallas Mavericks</option>
            <option value="Denver Nuggets" {% if second_team == "Denver Nuggets" %}selected{% endif %}>Denver Nuggets</option>
            <option value="Detroit Pistons" {% if second_team == "Detroit Pistons" %}selected{% endif %}>Detroit Pistons</option>
            <option value="Golden State Warriors" {% if second_team == "Golden State Warriors" %}selected{% endif %}>Golden State Warriors</option>
            <option value="Houston Rockets" {% if second_team == "Houston Rockets" %}selected{% endif %}>Houston Rockets</option>
            <option value="Indiana Pacers" {% if second_team == "Indiana Pacers" %}selected{% endif %}>Indiana Pacers</option>
            <option value="LA Clippers" {% if second_team == "LA Clippers" %}selected{% endif %}>LA Clippers</option>
            <option value="Los Angeles Lakers" {% if second_team == "Los Angeles Lakers" %}selected{% endif %}>Los Angeles Lakers</option>
            <option value="Memphis Grizzlies" {% if second_team == "Memphis Grizzlies" %}selected{% endif %}>Memphis Grizzlies</option>
            <option value="Miami Heat" {% if second_team == "Miami Heat" %}selected{% endif %}>Miami Heat</option>
            <option value="Milwaukee Bucks" {% if second_team == "Milwaukee Bucks" %}selected{% endif %}>Milwaukee Bucks</option>
            <option value="Minnesota Timberwolves" {% if second_team == "Minnesota Timberwolves" %}selected{% endif %}>Minnesota Timberwolves</option>
            <option value="New Orleans Pelicans" {% if second_team == "New Orleans Pelicans" %}selected{% endif %}>New Orleans Pelicans</option>
            <option value="New York Knicks" {% if second_team == "New York Knicks" %}selected{% endif %}>New York Knicks</option>
            <option value="Oklahoma City Thunder" {% if second_team == "Oklahoma City Thunder" %}selected{% endif %}>Oklahoma City Thunder</option>
            <option value="Orlando Magic" {% if second_team == "Orlando Magic" %}selected{% endif %}>Orlando Magic</option>
            <option value="Philadelphia 76ers" {% if second_team == "Philadelphia 76ers" %}selected{% endif %}>Philadelphia 76ers</option>
            <option value="Phoenix Suns" {% if second_team == "Phoenix Suns" %}selected{% endif %}>Phoenix Suns</option>
            <option value="Portland Trail Blazers" {% if second_team == "Portland Trail Blazers" %}selected{% endif %}>Portland Trail Blazers</option>
            <option value="Sacramento Kings" {% if second_team == "Sacramento Kings" %}selected{% endif %}>Sacramento Kings</option>
            <option value="San Antonio Spurs" {% if second_team == "San Antonio Spurs" %}selected{% endif %}>San Antonio Spurs</option>
            <option value="Toronto Raptors" {% if second_team == "Toronto Raptors" %}selected{% endif %}>Toronto Raptors</option>
            <option value="Utah Jazz" {% if second_team == "Utah Jazz" %}selected{% endif %}>Utah Jazz</option>
            <option value="Washington Wizards" {% if second_team == "Washington Wizards" %}selected{% endif %}>Washington Wizards</option>
        </select>
        
        <button type="submit">Calculate</button>
    </form>

    {% if winProc1 is not none and winProc2 is not none and tie is not none %}
        <h2>Results:</h2>
        <p>Win Probability 1: {{ winProc1 }}%</p>
        <p>Win Probability 2: {{ winProc2 }}%</p>
    {% endif %}
</body>
</html>